html,
body {
    width: 100%;
    font-family: sans-serif;
    background-color: rgba(236, 236, 236, 0.959);
}

nav {
    background-color: deepskyblue;
    border-radius: 10px;
    margin-left: 4px;
    margin-right: 12px;
}

img {
    margin: 12px;
}

div.containerTopo {
    background-color: dodgerblue;
    overflow: hidden;
    border-radius: 10px;
}

h1 {
    background-size: 700px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 29px;
}

h3 {
    background-size: 700px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
}

div.container {
    overflow: scroll;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 8px 8px 20px -8px rgb(172, 172, 172);
}

div {
    max-width: 80%;
    max-height: 400px;
    margin: 12px auto
}

.container::-webkit-scrollbar {
    background-color: transparent;
    width: 0.2px;
}

.container::-webkit-scrollbar-thumb {
    background-color: rgb(226, 226, 226);
}

thead th {
    position: sticky;
    top: 0;
    background: #9fe4ff;
    color: #FFF;
}

tbody th {
    position: sticky;
    left: 0;
    border-right: 1px solid #CCC;
    background: #c3eeff;
    color: rgb(90, 63, 63);
}

thead th:first-child {
    left: 0;
    z-index: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0 8px;
    margin-top: -8px;
}

td,
th {
    overflow: hidden;
    padding: 20px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e7e6e6;
}

#contemHomologado {
    color: rgb(9, 172, 9);
}

#naoContemHomologado {
    color: red;
}

#contemQuandoEnviada {
    color: rgb(255, 208, 0);
}

#informacaoVemDaCache {
    color: darkorange;
}

#informacaoBooleana {
    color: deepskyblue;
}

.bi {
    font-size: 150%;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 10px;
}

h2 {
    margin-left: 12px;
    color: darkgray;
}

#legenda {
    max-width: 50%;
    max-height: 400px;
    background-color: rgb(240, 240, 240);
    margin-left: 190px;
    margin-top: 50px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}